.heading{
    
    color: red;
    font-family: "Verdana", "Geneva",sans-serif;
    text-align: center;
    font-size: 34px;
    background-color: aqua;
}

.Description{
    background-color: brown;
    color: bisque;
    font-size: 32px;
    font-family: "Verdana", "Geneva",sans-serif;

}
.Ingred{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    background-color: beige;
}
.object{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: beige;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color:rgb(16, 83, 207);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}